services:
  - type: web
    name: contacts-backend
    runtime: node
    region: frankfurt
    plan: free
    rootDir: server
    buildCommand: npm install --production
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: CLIENT_URL
        sync: false
    healthCheckPath: /health
